.card-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bbutton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.addcard{
    background-color: #455cdf;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
}

.navbar-brand{
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    text-decoration:none;
    white-space:nowrap
}

.navbar-nav{
    display:flex;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}

.card-body{
    flex:1 1 auto;
    padding:1rem 1rem;
}

.column-table-1{
    flex:0 0 auto;
    width:25%
}

.column-table-2{
    flex:0 0 auto;
    width:75%
}

.card-title{
    margin-bottom:.5rem;
}

.col img {
    float: left;
}

.col h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-1 img {
    float: right;
}

.card-body{
    margin-top: 20px;
}

.addcard-1{
    background-color: #455cdf;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form-check-input{
    float:left;
    margin-left:-1.5em
}

